@import "tailwindcss";

.hero-section {
  background: linear-gradient(to bottom, #efe9d5, #215e61),
    url("assets/hero.webp");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.showcase1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/showcase1.webp");
  background-size: cover;
}

.showcase2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/showcase2.webp");
  background-size: cover;
}

.showcase3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/showcase3.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}

.find-listing-section {
  background: url("assets/formBG.webp");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

@media (min-width: 768px) {
  .showcase3 {
    background-size: cover;
  }
}
